@page "/Calificaciones/CalificarEstudiantes"
@using Sistema_Estudiantil.Models

<MudCard Style="margin:25px;">
    <MudCardContent>
        <MudIconButton Link="/Calificaciones/VerCalificaciones" Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Info" />
        <h2 class="text-center"><strong>Calificar Estudiante</strong></h2>
        <MudCard Style="background-color:lightgrey;" Class="mt-3">
            <MudCardContent>
                <MudExpansionPanel Text="Formulario">
                    <MudForm @ref="form" @bind-IsValid="success" @bind-Errors="errors">
                        <MudGrid Class="mt-3">
                            <MudItem xs="12" sm="6" md="6">
                                <label>Seleccione el estudiante:</label>
                                <MudSelect Label="Estudiante" @bind-Value="report.EstudianteId" Variant="Variant.Outlined" HelperText="Estudiante"
                                           OffsetY="true" OpenIcon="@Icons.Material.Filled.Person" AdornmentColor="Color.Secondary"
                                           Required="true" RequiredError="El campo de estudiante es requerido...">
                                    @foreach (var item in GetEstudiantes())
                                    {
                                        <MudSelectItem Value="@item.Matricula">@item.Nombre @item.Apellido</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="6">
                                <label>Seleccione la materia:</label>
                                <MudSelect Label="Materia" @bind-Value="report.MateriaId" Variant="Variant.Outlined" HelperText="Materia"
                                           OffsetY="true" OpenIcon="@Icons.Material.Filled.NoteAlt" AdornmentColor="Color.Secondary"
                                           Required="true" RequiredError="El campo de materia es requerido...">
                                    @foreach (var item in GetMaterias())
                                    {
                                        <MudSelectItem Value="@item.MateriaId">@item.Nombre</MudSelectItem>
                                    }
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="6">
                                <label>Seleccione el cuatrimestre:</label>
                                <MudSelect Label="Cuatrimestre" @bind-Value="@report.Cuatrimestre" Variant="Variant.Outlined" HelperText="Cuatrimestre"
                                           OffsetY="true" OpenIcon="@Icons.Material.Filled.Note" T="string" AdornmentColor="Color.Secondary"
                                           Required="true" RequiredError="El campo de cuatrimestre es requerido...">
                                    <MudSelectItem Value="@("C1-2021")" />
                                    <MudSelectItem Value="@("C2-2021")" />
                                    <MudSelectItem Value="@("C3-2021")" />
                                </MudSelect>
                            </MudItem>
                            <MudItem xs="12" sm="6" md="6">
                                <label>Calificacion de la Materia:</label>
                                <MudTextField Label="Calificacion" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Filled.EventNote" AdornmentColor="Color.Secondary" T="long" @bind-Value="@report.Calificacion" Required="true" RequiredError="El campo de calificar estudiante es requerido..." />
                            </MudItem>
                            <MudItem xs="12" Style="display:flex; justify-content:center;">
                                <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!success)" @onclick="createReport" EndIcon="@Icons.Filled.Save">Agregar calificacion</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudForm>
                </MudExpansionPanel>
            </MudCardContent>
        </MudCard>

        @if (showCallAlert)
        {
            <MudAlert Class="mt-5" Severity="Severity.Success" AlertTextPosition="AlertTextPosition.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(false))">Calificacion agregada de forma correcta</MudAlert>
        }

        @if (showErrorAlert)
        {
            <MudAlert Class="mt-5" Severity="Severity.Error" AlertTextPosition="AlertTextPosition.Center" ShowCloseIcon="true" CloseIconClicked="(() => CloseMe(false))">Error al agregar la calificacion</MudAlert>
        }

    </MudCardContent>
</MudCard>

@code{
    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;

    //Close the alerts variables
    private bool showCallAlert = false;
    private bool showLeaveAlert = false;
    private bool errorAlert = false;
    private bool showErrorAlert = false;

    //Method for closing the alert
    private void CloseMe(bool value)
    {
        if (value)
        {
            showLeaveAlert = false;
            showErrorAlert = false;
        }
        else
        {
            showCallAlert = false;
            showErrorAlert = false;
        }
    }

    //ShowAlert
    private void ShowAlert()
    {
        showCallAlert = true;
        showLeaveAlert = true;
        showErrorAlert = false;
    }


    string Mensaje;
    ReporteCalificacion report = new ReporteCalificacion();
    List<Materia> GetMaterias() => new ProgramaEstudiantilDBContext().Materia.ToList();
    List<Estudiante> GetEstudiantes() => new ProgramaEstudiantilDBContext().Estudiante.ToList();

    void createReport()
    {
        //---------------obtener el ultimo registro--------------------------
        List<ReporteCalificacion> getUltimoId() => new ProgramaEstudiantilDBContext().ReporteCalificacion.OrderByDescending(x => x.ReporteCalificacionId).Take(1).ToList();

        foreach (var i in getUltimoId())
        {
            report.ReporteCalificacionId = Convert.ToInt32(i.ReporteCalificacionId + 1);
        }
        //----------------------Fin----------------------------

        if (report.EstudianteId == 0 || report.MateriaId == 0 || report.Cuatrimestre == null || report.Calificacion == 0)
        {
            showErrorAlert = true;
        }
        else
        {
            using (ProgramaEstudiantilDBContext cmd = new ProgramaEstudiantilDBContext())
            {
                cmd.Add(report);
                cmd.SaveChanges();
                ShowAlert();
            }
        }
    }
}
