
<div class="centrar" style="display:block; margin-left:auto; margin-right:auto;">
    <MudAvatar Image="images/logo_app.png" Style="height:70px; width:70px;" Class="ma-2" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Icon="@Icons.Filled.Home">Home</MudNavLink>

    <MudNavGroup Title="Mantenimiento" Icon="@Icons.Filled.Settings" Expanded="false">
        <MudNavLink Href="/CRUD_Materias/Materias" Icon="@Icons.Filled.NoteAdd">Materia</MudNavLink>
        <MudNavLink Href="/CRUD_Estudiantes/Estudiantes" Icon="@Icons.Filled.NoteAdd">Estudiantes</MudNavLink>
    </MudNavGroup>

    <MudNavGroup Title="Calificaciones" Icon="@Icons.Filled.Star" Expanded="false">
        <MudNavLink Href="/Calificaciones/CalificarEstudiantes" Icon="@Icons.Filled.Add">Añadir calificación</MudNavLink>
        <MudNavLink Href="/Calificaciones/VerCalificaciones" Icon="@Icons.Filled.List">Ver calificación</MudNavLink>
    </MudNavGroup>

    <MudNavLink Href="/about" Icon="@Icons.Filled.ReadMore">Sobre nosotros</MudNavLink>

</MudNavMenu>
